.FaqButton{
    background: rgba(255, 255, 255, 0.45);
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 26px 24px;
    gap: 16px;
        span{
        font-size: 28px;
        font-weight: 700;
    }
}