.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .qrWrapper {
    background: $WHITE;
    border-radius: 32.16px;
    padding: 42px;
    width: fit-content;
  }

  .description {
    @extend .medium-32;
    color: $WHITE;

    text-align: center;
    line-height: 50px;
  }
}
