$PRIMARY: #1ca6ab;

$WHITE: #ffffff;

$GREY_WHITE: #f2f5ff;
$GREY_WHITE_2: #e6e8f5;
$GREY_WHITE_3: rgba(230, 230, 230, 1);
$GREY_WHITE_3: rgba(230, 230, 230, 1);
$GREY_WHITE_4: #ecfdf5;

$LIGHT_GREY: #f3f5f9;
$LIGHT_GREY_2: #9ba6b2;
$LIGHT_GREY_3: #d9d9d9;
$LIGHT_GREY_4: #f7f7f8;
$LIGHT_GREY_5: #f0f1f3;
$TEXT_DISABLED: #a9b4bc;
$TEXT_MUTED: #768793;

$DARK_GREY: rgba(153, 153, 153, 0.26);

$GREY: #95a0b0;
$GREY_2: #a9b1c1;
$GREY_3: #626975;
$GREY_4: #a0a7b1;
$GREY_5: #80838e;
$GREY_6: #838795;
$GREY_7: #40474f;
$GREY_8: rgba(255, 255, 255, 0.45);

$LIGHT_BLUE: #d4e3ff;

$GREEN: #019a62;
$OPACITY_GREEN: rgba(2, 147, 96, 0.12);

$BRIGHT_GREEN: #34c759;

$BLACK: #2e280d;
$BLACK_2: #0e0f11;

$LIGHT_BLACK: #5a596b;

$LIGHT_RED: #f05a5a;
$RED: #ec1212;

$BLUE: #2684fc;

$ORANGE: #fabf00;
$YELLOW: #fddb2b;

$WHITE_OPACITY: rgba(255, 255, 255, 0.7);

$GRADIENT_GREY: linear-gradient(271.18deg, #30373f -3.04%, #565e67 100.16%);
$GRADIENT_DARK: linear-gradient(159.07deg, #091317 -1.33%, #090f19 102.17%);
$GRADIENT_WHITE: linear-gradient(159.07deg, #f9f9f9 -1.33%, #f1f1f1 102.17%),
  linear-gradient(0deg, #ffffff, #ffffff);
