.regular-10 {
  font-size: 10px;
  font-weight: 400;
}

.regular-12 {
  font-size: 12px;
  font-weight: 400;
}

.regular-13 {
  font-size: 13px;
  font-weight: 400;
}

.regular-14 {
  font-size: 14px;
  font-weight: 400;
}

.regular-15 {
  font-size: 15px;
  font-weight: 400;
}

.regular-16 {
  font-size: 16px;
  font-weight: 400;
}

.regular-18 {
  font-size: 18px;
  font-weight: 400;
}

.regular-20 {
  font-size: 20px;
  font-weight: 400;
}

.regular-44 {
  font-size: 44px;
  font-weight: 400;
}

.medium-13 {
  font-size: 13px;
  font-weight: 500;
}

.medium-14 {
  font-size: 14px;
  font-weight: 500;
}

.medium-15 {
  font-size: 14px;
  font-weight: 500;
}

.medium-16 {
  font-size: 16px;
  font-weight: 500;
}

.medium-18 {
  font-size: 18px;
  font-weight: 500;
}

.regular-16 {
  font-size: 16px;
  font-weight: 400;
}

.medium-17 {
  font-size: 17px;
  font-weight: 500;
}

.medium-32 {
  font-size: 32px;
  font-weight: 500;
}

.medium-50 {
  font-size: 50px;
  font-weight: 500;
}

.semi-bold-10 {
  font-size: 10px;
  font-weight: 600;
}

.semi-bold-12 {
  font-size: 12px;
  font-weight: 600;
}

.semi-bold-13 {
  font-size: 13px;
  font-weight: 600;
}

.semi-bold-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.semi-bold-15 {
  font-size: 15px;
  font-weight: 600;
}

.semi-bold-16 {
  font-size: 16px;
  font-weight: 600;
}

.semi-bold-17 {
  font-size: 17px;
  font-weight: 600;
}

.semi-bold-18 {
  font-size: 18px;
  font-weight: 600;
}

.semi-bold-20 {
  font-size: 20px;
  font-weight: 600;
}

.semi-bold-30 {
  font-size: 30px;
  font-weight: 600;
}

.semi-bold-40 {
  font-size: 40px;
  font-weight: 600;
}

.semi-bold-55 {
  font-size: 55px;
  font-weight: 600;
}

.semi-bold-75 {
  font-size: 75px;
  font-weight: 600;
}

.semi-bold-80 {
  font-size: 80px;
  font-weight: 600;
}

.bold-13 {
  font-size: 13px;
  font-weight: 700;
}

.bold-14 {
  font-size: 14px;
  font-weight: 700;
}

.bold-17 {
  font-size: 17px;
  font-weight: 700;
}

.bold-18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.bold-20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.bold-24 {
  font-size: 24px;
  font-weight: 700;
}

.bold-16 {
  font-size: 16px;
  font-weight: 700;
}

.bold-32 {
  font-size: 32px;
  font-weight: 700;
}

.bold-44 {
  font-weight: 700;
  font-size: 44px;
}

.bold-60 {
  font-weight: 700;
  font-size: 60px;
}

.bold-70 {
  font-size: 70px;
  font-weight: 700;
}

.bold-94 {
  font-weight: 700;
  font-size: 94px;
}

.extra-bold-17 {
  font-size: 17px;
  font-weight: 800;
}

.extra-bold-18 {
  font-size: 18px;
  font-weight: 800;
}

.extra-bold-20 {
  font-size: 20px;
  font-weight: 800;
}

.extra-bold-28 {
  font-size: 28px;
  font-weight: 800;
}

.extra-bold-44 {
  font-size: 44px;
  font-weight: 800;
}

.extra-bold-70 {
  font-size: 70px;
  font-weight: 800;
}
